<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<!-- xmlns="http://www.w3.org/1999/xhtml"-->
<head runat="server">
    <title>Brightspace Test Question Generator</title>

    <!-- Style sheet -->
    <link rel='stylesheet' href='NewStyle/App_Themes/General/css/StyleSheet.css' />
    <link rel='stylesheet' href='NewStyle/StyleSheets/blackboardTools.css' />
    <link rel='stylesheet' href='NewStyle/StyleSheets/popup.css' />

    <asp:ContentPlaceHolder id="headContent" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="formBody" runat="server">
        <div id="wrapper">
            <div id="topbar">
                <div id="topbar-wrap">
                    <div id="topbar-inner">
                    </div>
                </div>
            </div>
            <div id="body">
                <div id="body-wrap1">
                    <div id="body-wrap2">
                        <div id="content-body">
                            <div class="area">
                                <asp:ContentPlaceHolder id="bodyContent" runat="server">

                                </asp:ContentPlaceHolder>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div id="footer-wrap">
                    <div id="footer-inner">
                        <center>
                            <br />
                            Algonquin College &copy; 2012
                            <br />
                            For issues related to this application, please contact Learning and Teaching Services <!-- Michael Allwood <a href="mailto:allwoom@algonquincollege.com">here</a>-->
                            <br />
                            <br />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>